@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --bg-color: rgb(6, 11, 25);
    --card-color: #0F5959;
    --text-color: #8FC1B5;
    --border-color: rgb(255, 255, 255, 0.1);
}


* {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav > .secao-nav {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
}

#nav-secao-de-logo,
#nav-secao-de-link {
    flex-basis: calc(100% / 3);
}

#nav-secao-social,
#nav-secao-contato {
    flex-grow: 1;
}