@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --bg-color: #060b19;
    --card-color: #0F5959;
    --text-color: #8FC1B5;
    --border-color: rgb(255, 255, 255, 0.1);
}


* {
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 99vh;
    margin: 0px;
    overflow: hidden;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
    gap: 10%;
}


nav > .secao-nav {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
}

h1, h2, h3, a, p, span {
    font-family: 'Roboto', sans-serif;
    color: white;
}

a {
    color: #2f5cd6;
    text-decoration: none;
}

#secao-de-logo {
    margin-right: 24vw;
}

#nav-secao-de-logo > a > svg {
    font-size: 2.5rem;
}

#nav-secao-de-logo,
#nav-secao-de-link {
    flex-basis: calc(100% / 3);
}

#nav-secao-de-link  a {
    border-left: 1px solid var(--border-color);
    flex-basis: calc(100%/ 1);
}

#nav-secao-social,
#nav-secao-contato {
    flex-grow: 1;
}

main {
    flex-grow: 1;
}

main > article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

main > article > .secao-do-articulo {
    height: 100%;
}

main > article > .secao-descricao, 
main > article > .secao-nav {
    border-left: 1px solid var(--border-color);
}

main > article > .secao-titulo,
main > article > .secao-nav {
    border-top: 1px solid var(--border-color);
}

.secao-imagem {
    background-image: url(imagens/arvore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.secao-descricao {
    text-indent: 20px;
    text-align: center;
}

.secao-descricao h2 {
    font-size: 2em;
    font-weight: bold;
}

.secao-descricao p {
    padding-top: 200px;
    margin: auto;
    font-weight: lighter;
    font-size: 1em;
    text-align: justify;
    width: 25vw;
    height: 10vh;
}

.secao-titulo {
    width: 700px;
    font-size: 2.5em;
    margin-top: -30px;
    padding-left: 50px;
}

.secao-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.secao-nav svg {
    width: 50%;
    height: 60%;
    padding: 0px 40px 0px 40px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 20px;
}

.secao-nav svg:hover {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    background-color: var(--text-color);
}